body {
    margin:0;
    padding:0;
}
body {
     width: 100vw;
     height: 100vh;
     background-image: url("backgroundrescaled.jpg");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
     
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;
    /*
   
    background-image: url("backgroundrescaled.jpg");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
*/

    
    margin: 0;
    cursor: crosshair;
    
    
}

#collisionCanvas {
    
    opacity: 0;
}

img {
    -webkit-user-drag: none; 
   user-select: none;
}

#raygun {
    position: absolute;
    
    width: 200px;
    height: auto; 
}

#raygunfire {
    
    position: absolute;
    width: 200px;
    height: auto; 
}


div {
    position: absolute;
    bottom:0;
    left:0;
    background: #cecece;
    padding: 5px;
}
label {
    border-right: 1px solid silver;
    display: inline-block;
}
/*
@media (max-width: 1000px) {
    #canvas {
        background-size: cover;
    }
}
*/
